### Centroide de población Mexico (Censo 2010)

In [1]:
import pandas as pd
import math
import numpy

In [2]:
localidades = pd.read_csv("iter_00_cpv2010.csv", encoding="utf-8")

In [3]:
localidades.head()

,entidad,nom_ent,mun,nom_mun,loc,nom_loc,longitud,latitud,altitud,pobtot,pobmas,pobfem,tam_loc
0,0,Total nacional,0,Total nacional,0,Total nacional,NaN,NaN,NaN,112336538,54855231,57481307,NaN
1,0,Total nacional,0,Total nacional,9998,Localidades de una vivienda,NaN,NaN,NaN,260087,152757,107330,NaN
2,0,Total nacional,0,Total nacional,9999,Localidades de dos viviendas,NaN,NaN,NaN,173056,98232,74824,NaN
3,1,Aguascalientes,0,Total de la entidad Aguascalientes,0,Total de la Entidad,NaN,NaN,NaN,1184996,576638,608358,NaN
4,1,Aguascalientes,0,Total de la entidad Aguascalientes,9998,Localidades de una vivienda,NaN,NaN,NaN,3395,1803,1592,NaN

In [4]:
localidades[localidades["nom_loc"].str.contains("Yerbabuena")].sort_values("pobtot", ascending=False)

,entidad,nom_ent,mun,nom_mun,loc,nom_loc,longitud,latitud,altitud,pobtot,pobmas,pobfem,tam_loc
59850,11,Guanajuato,15,Guanajuato,126,Yerbabuena,1011624.0,205804.0,1958.0,8399,4067,4332,6.0
141501,24,San Luis Potosí,32,Santa María del Río,299,La Yerbabuena,1004602.0,214059.0,1859.0,1110,560,550,4.0
64792,11,Guanajuato,37,Silao,439,Loma de Yerbabuena,1012658.0,210338.0,1901.0,1073,472,601,4.0
19229,7,Chiapas,13,Bochil,34,Yerbabuena Isbontick,925157.0,165559.0,1608.0,933,474,459,3.0
63754,11,Guanajuato,32,San José Iturbide,114,La Yerbabuena,1002112.0,210159.0,2109.0,580,284,296,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
144610,24,San Luis Potosí,58,El Naranjo,87,La Yerbabuena del Norte,992537.0,223211.0,947.0,1,*,*,1.0
155348,26,Sonora,35,Imuris,81,Yerbabuena,1105325.0,304557.0,820.0,1,*,*,1.0
40291,8,Chihuahua,12,Carichí,290,Yerbabuena,1070759.0,275353.0,2100.0,1,*,*,1.0
45400,8,Chihuahua,33,Huejotitán,52,Yerbabuena,1060956.0,270123.0,1740.0,1,*,*,1.0
140519,24,San Luis Potosí,24,Rioverde,407,La Yerbabuena,1001027.0,215457.0,1408.0,1,*,*,1.0

In [5]:
localidades.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 198488 entries, 0 to 198487
Data columns (total 13 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   entidad   198488 non-null  int64
 1   nom_ent   198488 non-null  object
 2   mun       198488 non-null  int64
 3   nom_mun   198488 non-null  object
 4   loc       198488 non-null  int64
 5   nom_loc   198488 non-null  object
 6   longitud  192247 non-null  float64
 7   latitud   192247 non-null  float64
 8   altitud   192247 non-null  float64
 9   pobtot    198488 non-null  int64
 10  pobmas    198488 non-null  object
 11  pobfem    198488 non-null  object
 12  tam_loc   192247 non-null  float64
dtypes: float64(4), int64(4), object(5)
memory usage: 15.9+ MB

In [6]:
localidades.dropna(subset = ["tam_loc"], inplace=True)

In [7]:
localidades[localidades["tam_loc"] >= 13].sort_values("pobtot", ascending=False)

,entidad,nom_ent,mun,nom_mun,loc,nom_loc,longitud,latitud,altitud,pobtot,pobmas,pobfem,tam_loc
50334,9,Distrito Federal,7,Iztapalapa,1,Iztapalapa,990535.0,192130.0,2251.0,1815786,880998,934788,14.0
90889,15,México,33,Ecatepec de Morelos,1,Ecatepec de Morelos,990336.0,193635.0,2260.0,1655015,805890,849125,14.0
81402,14,Jalisco,39,Guadalajara,1,Guadalajara,1032032.0,204035.0,1536.0,1495182,717399,777783,14.0
129721,21,Puebla,114,Puebla,1,Heróica Puebla de Zaragoza,981151.0,190243.0,2147.0,1434062,682505,751557,14.0
45912,8,Chihuahua,37,Juárez,1,Juárez,1062913.0,314422.0,1137.0,1321004,659857,661147,14.0
5845,2,Baja California,4,Tijuana,1,Tijuana,1170237.0,323205.0,31.0,1300983,653241,647742,14.0
60743,11,Guanajuato,20,León,1,León de los Aldama,1014050.0,210711.0,1804.0,1238962,603633,635329,14.0
50330,9,Distrito Federal,5,Gustavo A. Madero,1,Gustavo A. Madero,990645.0,192856.0,2243.0,1185772,571233,614539,14.0
89051,14,Jalisco,120,Zapopan,1,Zapopan,1032318.0,204314.0,1575.0,1142483,557305,585178,14.0
113260,19,Nuevo León,39,Monterrey,1,Monterrey,1001831.0,254017.0,530.0,1135512,561638,573874,14.0
91769,15,México,58,Nezahualcóyotl,1,Ciudad Nezahualcóyotl,985920.0,192400.0,2253.0,1104585,532528,572057,14.0
41274,8,Chihuahua,19,Chihuahua,1,Chihuahua,1060520.0,283807.0,1433.0,809232,394144,415088,13.0
91709,15,México,57,Naucalpan de Juárez,1,Naucalpan de Juárez,991416.0,192831.0,2300.0,792211,384234,407977,13.0
191683,31,Yucatán,50,Mérida,1,Mérida,893718.0,205804.0,10.0,777615,374542,403073,13.0
50580,9,Distrito Federal,10,Álvaro Obregón,1,Álvaro Obregón,991200.0,192400.0,2319.0,726664,345858,380806,13.0
140806,24,San Luis Potosí,28,San Luis Potosí,1,San Luis Potosí,1005830.0,220859.0,1864.0,722772,347676,375096,13.0
7,1,Aguascalientes,1,Aguascalientes,1,Aguascalientes,1021746.0,215251.0,1885.0,722250,348722,373528,13.0
154069,26,Sonora,30,Hermosillo,1,Hermosillo,1105715.0,290556.0,216.0,715061,355799,359262,13.0
15054,5,Coahuila de Zaragoza,30,Saltillo,1,Saltillo,1010000.0,252600.0,1560.0,709671,351302,358369,13.0
3744,2,Baja California,2,Mexicali,1,Mexicali,1152804.0,323948.0,8.0,689775,346642,343133,13.0
145936,25,Sinaloa,6,Culiacán,1,Culiacán Rosales,1072353.0,244731.0,64.0,675773,329608,346165,13.0
111920,19,Nuevo León,26,Guadalupe,1,Guadalupe,1001406.0,254045.0,480.0,673616,334519,339097,13.0
65925,12,Guerrero,1,Acapulco de Juárez,1,Acapulco de Juárez,995311.0,165142.0,20.0,673479,324746,348733,13.0
93505,15,México,104,Tlalnepantla de Baz,1,Tlalnepantla,991141.0,193212.0,2254.0,653410,316348,337062,13.0
136802,23,Quintana Roo,5,Benito Juárez,1,Cancún,865051.0,210938.0,10.0,628306,317990,310316,13.0
134814,22,Querétaro,14,Querétaro,1,Santiago de Querétaro,1002317.0,203517.0,1824.0,626495,301972,324523,13.0
50306,9,Distrito Federal,3,Coyoacán,1,Coyoacán,990942.0,192100.0,2256.0,620416,292491,327925,13.0
90850,15,México,31,Chimalhuacán,1,Chimalhuacán,985715.0,192615.0,2243.0,612383,301250,311133,13.0
15779,5,Coahuila de Zaragoza,35,Torreón,1,Torreón,1032630.0,253240.0,1120.0,608836,296781,312055,13.0
99794,16,Michoacán de Ocampo,53,Morelia,1,Morelia,1011108.0,194208.0,1920.0,597511,284708,312803,13.0
165137,28,Tamaulipas,32,Reynosa,1,Reynosa,981640.0,260532.0,33.0,589466,293880,295586,13.0
87615,14,Jalisco,98,Tlaquepaque,1,Tlaquepaque,1031826.0,203819.0,1569.0,575942,284064,291878,13.0
50629,9,Distrito Federal,12,Tlalpan,1,Tlalpan,991330.0,191830.0,2419.0,574577,274712,299865,13.0
34254,7,Chiapas,101,Tuxtla Gutiérrez,1,Tuxtla Gutiérrez,930656.0,164511.0,522.0,537102,255879,281223,13.0
50872,9,Distrito Federal,15,Cuauhtémoc,1,Cuauhtémoc,990840.0,192635.0,2244.0,531831,251725,280106,13.0
51306,10,Durango,5,Durango,1,Victoria de Durango,1043916.0,240122.0,1885.0,518709,250073,268636,13.0

In [8]:
def floatToGms(c):
    grados = math.trunc(c/10000)
    
    if grados > 99:
        minutos = str(c)[3:5]
        segundos = str(c)[5:7]
    else:
        minutos = str(c)[2:4]
        segundos = str(c)[4:6]
    
    
    return grados, int(minutos), int(segundos)

In [9]:
def floatToDec(c):
    grados = math.trunc(c/10000)
    
    if grados > 99:
        minutos = str(c)[3:5]
        segundos = str(c)[5:7]
    else:
        minutos = str(c)[2:4]
        segundos = str(c)[4:6]
    
    dec = grados + int(minutos)/60 + int(segundos)/3600
    
    return dec

In [10]:
latitud_series = localidades["latitud"].apply(floatToDec)

In [11]:
latitud_series

7         21.880833
8         21.871944
9         21.884167
10        21.854444
11        21.780278
            ...
198481    21.563056
198482    21.554722
198483    21.487778
198484    21.503889
198485    21.527500
Name: latitud, Length: 192247, dtype: float64

In [12]:
localidades.head()

,entidad,nom_ent,mun,nom_mun,loc,nom_loc,longitud,latitud,altitud,pobtot,pobmas,pobfem,tam_loc
7,1,Aguascalientes,1,Aguascalientes,1,Aguascalientes,1021746.0,215251.0,1885.0,722250,348722,373528,13.0
8,1,Aguascalientes,1,Aguascalientes,94,Granja Adelita,1022225.0,215219.0,1903.0,14,*,*,1.0
9,1,Aguascalientes,1,Aguascalientes,96,Agua Azul,1022127.0,215303.0,1863.0,37,21,16,1.0
10,1,Aguascalientes,1,Aguascalientes,100,Rancho Alegre,1022222.0,215116.0,1880.0,10,*,*,1.0
11,1,Aguascalientes,1,Aguascalientes,102,Los Arbolitos [Rancho],1022126.0,214649.0,1860.0,7,*,*,1.0

In [13]:
localidades["latitud_dec"] = latitud_series

In [14]:
localidades.head()

,entidad,nom_ent,mun,nom_mun,loc,nom_loc,longitud,latitud,altitud,pobtot,pobmas,pobfem,tam_loc,latitud_dec
7,1,Aguascalientes,1,Aguascalientes,1,Aguascalientes,1021746.0,215251.0,1885.0,722250,348722,373528,13.0,21.880833
8,1,Aguascalientes,1,Aguascalientes,94,Granja Adelita,1022225.0,215219.0,1903.0,14,*,*,1.0,21.871944
9,1,Aguascalientes,1,Aguascalientes,96,Agua Azul,1022127.0,215303.0,1863.0,37,21,16,1.0,21.884167
10,1,Aguascalientes,1,Aguascalientes,100,Rancho Alegre,1022222.0,215116.0,1880.0,10,*,*,1.0,21.854444
11,1,Aguascalientes,1,Aguascalientes,102,Los Arbolitos [Rancho],1022126.0,214649.0,1860.0,7,*,*,1.0,21.780278

In [15]:
longitud_series = localidades["longitud"].apply(floatToDec)

In [16]:
longitud_series

7         102.296111
8         102.373611
9         102.357500
10        102.372778
11        102.357222
             ...
198481    103.393611
198482    103.415833
198483    103.337222
198484    103.335278
198485    103.371667
Name: longitud, Length: 192247, dtype: float64

In [17]:
localidades["longitud_dec"] = longitud_series

In [18]:
localidades.head(10)

,entidad,nom_ent,mun,nom_mun,loc,nom_loc,longitud,latitud,altitud,pobtot,pobmas,pobfem,tam_loc,latitud_dec,longitud_dec
7,1,Aguascalientes,1,Aguascalientes,1,Aguascalientes,1021746.0,215251.0,1885.0,722250,348722,373528,13.0,21.880833,102.296111
8,1,Aguascalientes,1,Aguascalientes,94,Granja Adelita,1022225.0,215219.0,1903.0,14,*,*,1.0,21.871944,102.373611
9,1,Aguascalientes,1,Aguascalientes,96,Agua Azul,1022127.0,215303.0,1863.0,37,21,16,1.0,21.884167,102.357500
10,1,Aguascalientes,1,Aguascalientes,100,Rancho Alegre,1022222.0,215116.0,1880.0,10,*,*,1.0,21.854444,102.372778
11,1,Aguascalientes,1,Aguascalientes,102,Los Arbolitos [Rancho],1022126.0,214649.0,1860.0,7,*,*,1.0,21.780278,102.357222
12,1,Aguascalientes,1,Aguascalientes,104,Ardillas de Abajo (Las Ardillas),1021132.0,215643.0,1998.0,14,6,8,1.0,21.945278,102.192222
13,1,Aguascalientes,1,Aguascalientes,106,Arellano,1021628.0,214803.0,1894.0,1382,684,698,4.0,21.800833,102.274444
14,1,Aguascalientes,1,Aguascalientes,112,Bajío los Vázquez,1020726.0,214452.0,1972.0,55,27,28,1.0,21.747778,102.123889
15,1,Aguascalientes,1,Aguascalientes,114,Residencial San Nicolás [Baños la Cantera],1022123.0,215104.0,1864.0,757,366,391,3.0,21.851111,102.356389
16,1,Aguascalientes,1,Aguascalientes,120,Buenavista de Peñuelas,1021744.0,214303.0,1870.0,935,474,461,3.0,21.717500,102.295556

In [19]:
localidades.tail(10)

,entidad,nom_ent,mun,nom_mun,loc,nom_loc,longitud,latitud,altitud,pobtot,pobmas,pobfem,tam_loc,latitud_dec,longitud_dec
198476,32,Zacatecas,58,Santa María de la Paz,30,Las Tablas,1031547.0,212745.0,2506.0,78,37,41,1.0,21.462500,103.263056
198477,32,Zacatecas,58,Santa María de la Paz,31,Los Cedros,1031545.0,213051.0,2089.0,2,*,*,1.0,21.514167,103.262500
198478,32,Zacatecas,58,Santa María de la Paz,32,Los Cuartos,1032524.0,212927.0,1944.0,7,*,*,1.0,21.490833,103.423333
198479,32,Zacatecas,58,Santa María de la Paz,33,Los Horcones,1031604.0,212958.0,2188.0,24,13,11,1.0,21.499444,103.267778
198480,32,Zacatecas,58,Santa María de la Paz,35,Los Trigos (Mesa de los Trigos),1031355.0,212946.0,2524.0,114,56,58,1.0,21.496111,103.231944
198481,32,Zacatecas,58,Santa María de la Paz,36,Marines,1032337.0,213347.0,1944.0,2,*,*,1.0,21.563056,103.393611
198482,32,Zacatecas,58,Santa María de la Paz,37,Mesa Grande,1032457.0,213317.0,1945.0,192,93,99,1.0,21.554722,103.415833
198483,32,Zacatecas,58,Santa María de la Paz,39,San Isidro,1032014.0,212916.0,2050.0,7,*,*,1.0,21.487778,103.337222
198484,32,Zacatecas,58,Santa María de la Paz,41,San Miguel Tepetitlán,1032007.0,213014.0,1962.0,75,41,34,1.0,21.503889,103.335278
198485,32,Zacatecas,58,Santa María de la Paz,42,San Rafael,1032218.0,213139.0,2046.0,4,*,*,1.0,21.527500,103.371667

In [20]:
localidades["pobtot"].sum()

112336538

In [21]:
localidades["pob_x_lat"] = localidades.pobtot * localidades.latitud_dec

In [22]:
localidades.head()

,entidad,nom_ent,mun,nom_mun,loc,nom_loc,longitud,latitud,altitud,pobtot,pobmas,pobfem,tam_loc,latitud_dec,longitud_dec,pob_x_lat
7,1,Aguascalientes,1,Aguascalientes,1,Aguascalientes,1021746.0,215251.0,1885.0,722250,348722,373528,13.0,21.880833,102.296111,1.580343e+07
8,1,Aguascalientes,1,Aguascalientes,94,Granja Adelita,1022225.0,215219.0,1903.0,14,*,*,1.0,21.871944,102.373611,3.062072e+02
9,1,Aguascalientes,1,Aguascalientes,96,Agua Azul,1022127.0,215303.0,1863.0,37,21,16,1.0,21.884167,102.357500,8.097142e+02
10,1,Aguascalientes,1,Aguascalientes,100,Rancho Alegre,1022222.0,215116.0,1880.0,10,*,*,1.0,21.854444,102.372778,2.185444e+02
11,1,Aguascalientes,1,Aguascalientes,102,Los Arbolitos [Rancho],1022126.0,214649.0,1860.0,7,*,*,1.0,21.780278,102.357222,1.524619e+02

In [23]:
localidades.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 192247 entries, 7 to 198485
Data columns (total 16 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   entidad       192247 non-null  int64
 1   nom_ent       192247 non-null  object
 2   mun           192247 non-null  int64
 3   nom_mun       192247 non-null  object
 4   loc           192247 non-null  int64
 5   nom_loc       192247 non-null  object
 6   longitud      192247 non-null  float64
 7   latitud       192247 non-null  float64
 8   altitud       192247 non-null  float64
 9   pobtot        192247 non-null  int64
 10  pobmas        192247 non-null  object
 11  pobfem        192247 non-null  object
 12  tam_loc       192247 non-null  float64
 13  latitud_dec   192247 non-null  float64
 14  longitud_dec  192247 non-null  float64
 15  pob_x_lat     192247 non-null  float64
dtypes: float64(7), int64(4), object(5)
memory usage: 21.3+ MB

In [24]:
localidades.sort_values("pob_x_lat", ascending=False)

,entidad,nom_ent,mun,nom_mun,loc,nom_loc,longitud,latitud,altitud,pobtot,pobmas,pobfem,tam_loc,latitud_dec,longitud_dec,pob_x_lat
5845,2,Baja California,4,Tijuana,1,Tijuana,1170237.0,323205.0,31.0,1300983,653241,647742,14.0,32.534722,117.043611,4.232712e+07
45912,8,Chihuahua,37,Juárez,1,Juárez,1062913.0,314422.0,1137.0,1321004,659857,661147,14.0,31.739444,106.486944,4.192793e+07
50334,9,Distrito Federal,7,Iztapalapa,1,Iztapalapa,990535.0,192130.0,2251.0,1815786,880998,934788,14.0,19.358333,99.093056,3.515059e+07
90889,15,México,33,Ecatepec de Morelos,1,Ecatepec de Morelos,990336.0,193635.0,2260.0,1655015,805890,849125,14.0,19.609722,99.060000,3.245438e+07
81402,14,Jalisco,39,Guadalajara,1,Guadalajara,1032032.0,204035.0,1536.0,1495182,717399,777783,14.0,20.676389,103.342222,3.091496e+07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31797,7,Chiapas,87,Suchiate,232,El Pichi,921225.0,143924.0,10.0,1,*,*,1.0,14.656667,92.206944,1.465667e+01
31738,7,Chiapas,87,Suchiate,124,Las Águilas,921305.0,143910.0,10.0,1,*,*,1.0,14.652778,92.218056,1.465278e+01
31798,7,Chiapas,87,Suchiate,233,Santo Tomás [Aeródromo],921203.0,143841.0,11.0,1,*,*,1.0,14.644722,92.200833,1.464472e+01
31775,7,Chiapas,87,Suchiate,177,Las Anonas,921135.0,143711.0,10.0,1,*,*,1.0,14.619722,92.193056,1.461972e+01
31714,7,Chiapas,87,Suchiate,69,El Problema,921219.0,143620.0,10.0,1,*,*,1.0,14.605556,92.205278,1.460556e+01

In [25]:
resLat = localidades.pob_x_lat.sum()
poblacionTotal = localidades["pobtot"].sum()

In [26]:
resLat

2381844701.746389

In [27]:
poblacionTotal

112336538

### Latitud del centroide

In [28]:
resLat/poblacionTotal

21.20276042106967

In [29]:
localidades[localidades['latitud_dec'].between(21.2026, 21.2028)].sort_values("pobtot", ascending=False)

,entidad,nom_ent,mun,nom_mun,loc,nom_loc,longitud,latitud,altitud,pobtot,pobmas,pobfem,tam_loc,latitud_dec,longitud_dec,pob_x_lat
76216,13,Hidalgo,46,San Felipe Orizatlán,115,La Cruz,983349.0,211210.0,179.0,141,76,65,1.0,21.202778,98.563611,2989.591667
63935,11,Guanajuato,33,San Luis de la Paz,126,Paredes,1003411.0,211210.0,2006.0,85,33,52,1.0,21.202778,100.569722,1802.236111
88885,14,Jalisco,118,Yahualica de González Gallo,68,Los Llanitos,1025836.0,211210.0,2040.0,62,28,34,1.0,21.202778,102.976667,1314.572222
173633,30,Veracruz de Ignacio de la Llave,55,Chalma,142,Patricio Chirinos,982541.0,211210.0,235.0,29,15,14,1.0,21.202778,98.428056,614.880556
85161,14,Jalisco,73,San Juan de los Lagos,367,Marielena [Granja],1022305.0,211210.0,1852.0,5,*,*,1.0,21.202778,102.384722,106.013889
106835,18,Nayarit,7,Jala,43,El Zoquite,1043018.0,211210.0,1422.0,5,*,*,1.0,21.202778,104.505000,106.013889
61293,11,Guanajuato,20,León,1328,El Rayo,1013641.0,211210.0,2216.0,4,*,*,1.0,21.202778,101.611389,84.811111

In [30]:
localidades[localidades["nom_loc"].str.contains("Mazamorra")]

,entidad,nom_ent,mun,nom_mun,loc,nom_loc,longitud,latitud,altitud,pobtot,pobmas,pobfem,tam_loc,latitud_dec,longitud_dec,pob_x_lat
65739,11,Guanajuato,45,Xichú,23,Mazamorra,1000148.0,211303.0,2058.0,125,63,62,1.0,21.217500,100.030000,2652.187500
196757,32,Zacatecas,38,Pinos,98,La Mazamorra,1013021.0,222338.0,2263.0,170,88,82,1.0,22.393889,101.505833,3806.961111

In [31]:
pob_lon_num = localidades.pobtot * localidades.longitud_dec * numpy.cos(localidades.latitud_dec * (math.pi / 180))

In [32]:
pob_lon_num

7         6.856088e+07
8         1.330065e+03
9         3.514317e+03
10        9.501550e+02
11        6.653522e+02
              ...
198481    1.923149e+02
198482    1.846726e+04
198483    6.730839e+02
198484    7.210679e+03
198485    3.846425e+02
Length: 192247, dtype: float64

In [33]:
pob_lon_den = localidades.pobtot * numpy.cos(localidades.latitud_dec * (math.pi / 180))

In [34]:
pob_lon_den

7         670219.813755
8             12.992263
9             34.333754
10             9.281325
11             6.500295
              ...
198481         1.860027
198482       178.572884
198483         6.513470
198484        69.779452
198485         3.720966
Length: 192247, dtype: float64

In [35]:
pob_lon_num.sum()

10457403712.859581

In [36]:
pob_lon_den.sum()

104513531.51370457

### Longitud del centroide

In [37]:
pob_lon_num.sum() / pob_lon_den.sum()

100.05789261353522

In [38]:
localidades[localidades['longitud_dec'].between(100.057, 100.058)].sort_values("latitud_dec", ascending=False)

,entidad,nom_ent,mun,nom_mun,loc,nom_loc,longitud,latitud,altitud,pobtot,pobmas,pobfem,tam_loc,latitud_dec,longitud_dec,pob_x_lat
13538,5,Coahuila de Zaragoza,13,Hidalgo,75,Santa Celia,1000327.0,275142.0,200.0,6,*,*,1.0,27.861667,100.057500,167.170000
111962,19,Nuevo León,28,Higueras,21,San Benito,1000326.0,260424.0,597.0,1,*,*,1.0,26.073333,100.057222,26.073333
113417,19,Nuevo León,41,Pesquería,412,Los Arcos,1000328.0,254318.0,345.0,1,*,*,1.0,25.721667,100.057778,25.721667
114110,19,Nuevo León,49,Santiago,140,Ninguno,1000328.0,252736.0,378.0,11,7,4,1.0,25.460000,100.057778,280.060000
114115,19,Nuevo León,49,Santiago,153,Monteprieto (Guadalupe Mauro de León),1000328.0,252626.0,404.0,7,4,3,1.0,25.440556,100.057778,178.083889
113216,19,Nuevo León,38,Montemorelos,836,El Colmillo,1000327.0,251337.0,480.0,4,*,*,1.0,25.226944,100.057500,100.907778
109459,19,Nuevo León,7,Aramberri,76,La Trinidad,1000328.0,240559.0,1597.0,621,317,304,3.0,24.099722,100.057778,14965.927500
140351,24,San Luis Potosí,24,Rioverde,59,Pastora,1000328.0,220802.0,1016.0,1007,502,505,4.0,22.133889,100.057778,22288.826111
133656,22,Querétaro,5,Colón,191,Nuevo México [Granja],1000328.0,204507.0,1972.0,1,*,*,1.0,20.751944,100.057778,20.751944
135207,22,Querétaro,16,San Juan del Río,63,Santa Lucía,1000326.0,201851.0,2246.0,784,394,390,3.0,20.314167,100.057222,15926.306667
92793,15,México,85,Temascalcingo,16,Mesa de Bañi,1000327.0,195211.0,2664.0,615,293,322,3.0,19.869722,100.057500,12219.879167
92301,15,México,74,San Felipe del Progreso,278,"Barrio la Mesa, Rioyos Buenavista",1000327.0,194217.0,2746.0,949,454,495,3.0,19.704722,100.057500,18699.781389
93876,15,México,110,Valle de Bravo,47,Tenantongo,1000326.0,190931.0,2161.0,373,184,189,2.0,19.158611,100.057222,7146.161944
68859,12,Guerrero,31,General Canuto A. Neri,38,Río Chiquito,1000328.0,182954.0,668.0,92,36,56,1.0,18.498333,100.057778,1701.846667
68951,12,Guerrero,32,General Heliodoro Castillo,86,Tepehuaje,1000327.0,175100.0,1141.0,299,161,138,2.0,17.850000,100.057500,5337.150000
67652,12,Guerrero,21,Coyuca de Benítez,199,El Zarzal,1000326.0,170032.0,11.0,9,*,*,1.0,17.008889,100.057222,153.080000

In [39]:
localidades.query('longitud_dec >= 100 & longitud_dec <= 100.1 & latitud_dec >= 21.2 & latitud_dec <= 21.3')

,entidad,nom_ent,mun,nom_mun,loc,nom_loc,longitud,latitud,altitud,pobtot,pobmas,pobfem,tam_loc,latitud_dec,longitud_dec,pob_x_lat
64333,11,Guanajuato,34,Santa Catarina,10,Corral Falso,1000457.0,211223.0,2298.0,146,60,86,1.0,21.206389,100.082500,3096.132778
64345,11,Guanajuato,34,Santa Catarina,22,Paredes,1000544.0,211249.0,2221.0,323,159,164,2.0,21.213611,100.095556,6851.996389
64367,11,Guanajuato,34,Santa Catarina,54,Los Martínez,1000513.0,211214.0,2252.0,41,13,28,1.0,21.203889,100.086944,869.359444
65718,11,Guanajuato,45,Xichú,1,Xichú,1000319.0,211759.0,1318.0,1569,721,848,4.0,21.299722,100.055278,33419.264167
65738,11,Guanajuato,45,Xichú,22,Llano Grande,1000357.0,211618.0,1889.0,119,61,58,1.0,21.271667,100.065833,2531.328333
65739,11,Guanajuato,45,Xichú,23,Mazamorra,1000148.0,211303.0,2058.0,125,63,62,1.0,21.217500,100.030000,2652.187500
65741,11,Guanajuato,45,Xichú,25,Mesa de Chaloc,1000332.0,211249.0,2558.0,134,63,71,1.0,21.213611,100.058889,2842.623889
65746,11,Guanajuato,45,Xichú,30,Misión de Santa Rosa,1000509.0,211716.0,1530.0,304,155,149,2.0,21.287778,100.085833,6471.484444
65751,11,Guanajuato,45,Xichú,35,Los Pablos (Los Pablos de Arriba),1000028.0,211452.0,1286.0,155,73,82,1.0,21.247778,100.007778,3293.405556
65762,11,Guanajuato,45,Xichú,46,Rosa de Castilla,1000330.0,211718.0,1438.0,226,98,128,1.0,21.288333,100.058333,4811.163333
65769,11,Guanajuato,45,Xichú,53,La Sábila,1000051.0,211604.0,1471.0,363,187,176,2.0,21.267778,100.014167,7720.203333
65770,11,Guanajuato,45,Xichú,54,Beltrán,1000245.0,211627.0,1594.0,114,57,57,1.0,21.274167,100.045833,2425.255000
65773,11,Guanajuato,45,Xichú,58,El Álamo,1000536.0,211754.0,1627.0,55,26,29,1.0,21.298333,100.093333,1171.408333
65779,11,Guanajuato,45,Xichú,66,Yerbabuena,1000316.0,211447.0,2358.0,13,8,5,1.0,21.246389,100.054444,276.203056
65788,11,Guanajuato,45,Xichú,76,La Higuerita,1000110.0,211644.0,1835.0,113,51,62,1.0,21.278889,100.019444,2404.514444
65790,11,Guanajuato,45,Xichú,78,Puerto de Tablas,1000517.0,211404.0,2585.0,106,45,61,1.0,21.234444,100.088056,2250.851111
65795,11,Guanajuato,45,Xichú,85,El Contadero,1000444.0,211401.0,2569.0,77,36,41,1.0,21.233611,100.078889,1634.988056