In [4]:
import pandas as pd
import re
import math
import numpy

### Se exporta archivo CSV tomado de la página INEGI

In [5]:
pob = pd.read_csv("censo2020.csv", encoding="utf-8")

In [6]:
pob.head()

,ENTIDAD,NOM_ENT,MUN,NOM_MUN,LOC,NOM_LOC,LONGITUD,LATITUD,ALTITUD,POBTOT,POBFEM,POBMAS,TAMLOC
0,0,Total nacional,0,Total nacional,0,Total nacional,NaN,NaN,NaN,126014024,64540634,61473390,*
1,0,Total nacional,0,Total nacional,9998,Localidades de una vivienda,NaN,NaN,NaN,250354,96869,153485,*
2,0,Total nacional,0,Total nacional,9999,Localidades de dos viviendas,NaN,NaN,NaN,147125,61324,85801,*
3,1,Aguascalientes,0,Total de la entidad Aguascalientes,0,Total de la Entidad,NaN,NaN,NaN,1425607,728924,696683,*
4,1,Aguascalientes,0,Total de la entidad Aguascalientes,9998,Localidades de una vivienda,NaN,NaN,NaN,3697,1510,2187,*

### Se retiran todos los elementos que no son de una localidad (Totales por estado, municipio, localidades de 1 o 2 viviendas)

In [7]:
pob.dropna(subset=["LONGITUD"], inplace=True)

In [8]:
pob.head()

,ENTIDAD,NOM_ENT,MUN,NOM_MUN,LOC,NOM_LOC,LONGITUD,LATITUD,ALTITUD,POBTOT,POBFEM,POBMAS,TAMLOC
7,1,Aguascalientes,1,Aguascalientes,1,Aguascalientes,"102°17'45.768"" W","21°52'47.362"" N",1878,863893,444725,419168,13
8,1,Aguascalientes,1,Aguascalientes,94,Granja Adelita,"102°22'24.710"" W","21°52'18.749"" N",1902,5,*,*,1
9,1,Aguascalientes,1,Aguascalientes,96,Agua Azul,"102°21'25.639"" W","21°53'01.522"" N",1861,41,17,24,1
10,1,Aguascalientes,1,Aguascalientes,102,Los Arbolitos [Rancho],"102°21'26.261"" W","21°46'48.650"" N",1861,8,*,*,1
11,1,Aguascalientes,1,Aguascalientes,104,Ardillas de Abajo (Las Ardillas),"102°11'30.914"" W","21°56'42.243"" N",1989,1,*,*,1

In [9]:
pob.tail()

,ENTIDAD,NOM_ENT,MUN,NOM_MUN,LOC,NOM_LOC,LONGITUD,LATITUD,ALTITUD,POBTOT,POBFEM,POBMAS,TAMLOC
195656,32,Zacatecas,58,Santa María de la Paz,35,Los Trigos (Mesa de los Trigos),"103°14'27.792"" W","21°29'51.355"" N",2499,89,43,46,1
195657,32,Zacatecas,58,Santa María de la Paz,37,Mesa Grande,"103°24'52.925"" W","21°33'12.375"" N",1944,165,88,77,1
195658,32,Zacatecas,58,Santa María de la Paz,39,San Isidro,"103°20'14.164"" W","21°29'11.130"" N",2031,1,*,*,1
195659,32,Zacatecas,58,Santa María de la Paz,41,San Miguel Tepetitlán,"103°20'09.356"" W","21°30'15.168"" N",1977,97,50,47,1
195660,32,Zacatecas,58,Santa María de la Paz,42,San Rafael,"103°22'20.134"" W","21°31'39.341"" N",2042,3,*,*,1

### Método para conversión de coordenadas geográfica de formato GMS (grados, minutos y segundos) a formato decimal

In [10]:
def gmsToDec(gms):
    gmsRegex = re.compile(r"(\d{2,3}[°])(\d{2}['])(\d{2}[.]\d{3}[\"])")
    mo = gmsRegex.search(gms)
    grads = float(mo.group(1)[:-1])
    mints = float(mo.group(2)[:-1])
    segs = float(mo.group(3)[:-1])

    dec = grads + mints/60 + segs/3600
    
    return dec

### Probando el método

In [11]:
gmsToDec("19°32'35.414\" N")

19.54317055555556

### Se crea nueva columna en el DataFrame para la latitud expresada en decimal

In [12]:
pob["LATITUD_DEC"] = pob["LATITUD"].apply(gmsToDec)

In [13]:
pob.LATITUD_DEC

7         21.879823
8         21.871875
9         21.883756
10        21.780181
11        21.945068
            ...
195656    21.497599
195657    21.553438
195658    21.486425
195659    21.504213
195660    21.527595
Name: LATITUD_DEC, Length: 189432, dtype: float64

### Columna nueva agregada

In [14]:
pob.head()

,ENTIDAD,NOM_ENT,MUN,NOM_MUN,LOC,NOM_LOC,LONGITUD,LATITUD,ALTITUD,POBTOT,POBFEM,POBMAS,TAMLOC,LATITUD_DEC
7,1,Aguascalientes,1,Aguascalientes,1,Aguascalientes,"102°17'45.768"" W","21°52'47.362"" N",1878,863893,444725,419168,13,21.879823
8,1,Aguascalientes,1,Aguascalientes,94,Granja Adelita,"102°22'24.710"" W","21°52'18.749"" N",1902,5,*,*,1,21.871875
9,1,Aguascalientes,1,Aguascalientes,96,Agua Azul,"102°21'25.639"" W","21°53'01.522"" N",1861,41,17,24,1,21.883756
10,1,Aguascalientes,1,Aguascalientes,102,Los Arbolitos [Rancho],"102°21'26.261"" W","21°46'48.650"" N",1861,8,*,*,1,21.780181
11,1,Aguascalientes,1,Aguascalientes,104,Ardillas de Abajo (Las Ardillas),"102°11'30.914"" W","21°56'42.243"" N",1989,1,*,*,1,21.945068

### Se crea nueva columna en el DataFrame para la longitud expresada en decimal

In [16]:
longitud_series = pob["LONGITUD"].apply(gmsToDec)

In [17]:
longitud_series

7         102.296047
8         102.373531
9         102.357122
10        102.357295
11        102.191921
             ...
195656    103.241053
195657    103.414701
195658    103.337268
195659    103.335932
195660    103.372259
Name: LONGITUD, Length: 189432, dtype: float64

In [18]:
pob["LONGITUD_DEC"] = longitud_series

In [19]:
pob.head()

,ENTIDAD,NOM_ENT,MUN,NOM_MUN,LOC,NOM_LOC,LONGITUD,LATITUD,ALTITUD,POBTOT,POBFEM,POBMAS,TAMLOC,LATITUD_DEC,LONGITUD_DEC
7,1,Aguascalientes,1,Aguascalientes,1,Aguascalientes,"102°17'45.768"" W","21°52'47.362"" N",1878,863893,444725,419168,13,21.879823,102.296047
8,1,Aguascalientes,1,Aguascalientes,94,Granja Adelita,"102°22'24.710"" W","21°52'18.749"" N",1902,5,*,*,1,21.871875,102.373531
9,1,Aguascalientes,1,Aguascalientes,96,Agua Azul,"102°21'25.639"" W","21°53'01.522"" N",1861,41,17,24,1,21.883756,102.357122
10,1,Aguascalientes,1,Aguascalientes,102,Los Arbolitos [Rancho],"102°21'26.261"" W","21°46'48.650"" N",1861,8,*,*,1,21.780181,102.357295
11,1,Aguascalientes,1,Aguascalientes,104,Ardillas de Abajo (Las Ardillas),"102°11'30.914"" W","21°56'42.243"" N",1989,1,*,*,1,21.945068,102.191921

### Suma de la población total nacional

In [21]:
poblacionTotal = pob["POBTOT"].sum()

In [22]:
poblacionTotal

126014024

### Se aplica fórmula para la latitud del centro medio de población

In [23]:
pob_x_latitud =  pob.POBTOT * pob.LATITUD_DEC

In [26]:
sumatoriaLatitud = pob_x_latitud.sum()

In [27]:
sumatoriaLatitud

2678645985.042482

### **Resultado** : Latitud del centro medio de población

In [30]:
sumatoriaLatitud/poblacionTotal

21.256729211682675

### Se aplica fórmula para la longitud del centro medio de población

In [31]:
pob_lon_numerador = pob.POBTOT * pob.LONGITUD_DEC * numpy.cos(pob.LATITUD_DEC * (math.pi / 180))

In [32]:
pob_lon_denominador = pob.POBTOT * numpy.cos(pob.LATITUD_DEC * (math.pi / 180))

### **Resultado**: Longitud del centro medio de población (considerarse en valor negativo por ser hemisferio occidental)

In [33]:
pob_lon_numerador.sum() / pob_lon_denominador.sum()

100.05476844794943