In [124]:
import pandas as pd
import re
import math
import numpy

In [2]:
pob = pd.read_csv("censo2020.csv", encoding="utf-8")

In [3]:
pob.head()

,ENTIDAD,NOM_ENT,MUN,NOM_MUN,LOC,NOM_LOC,LONGITUD,LATITUD,ALTITUD,POBTOT,POBFEM,POBMAS,TAMLOC
0,0,Total nacional,0,Total nacional,0,Total nacional,NaN,NaN,NaN,126014024,64540634,61473390,*
1,0,Total nacional,0,Total nacional,9998,Localidades de una vivienda,NaN,NaN,NaN,250354,96869,153485,*
2,0,Total nacional,0,Total nacional,9999,Localidades de dos viviendas,NaN,NaN,NaN,147125,61324,85801,*
3,1,Aguascalientes,0,Total de la entidad Aguascalientes,0,Total de la Entidad,NaN,NaN,NaN,1425607,728924,696683,*
4,1,Aguascalientes,0,Total de la entidad Aguascalientes,9998,Localidades de una vivienda,NaN,NaN,NaN,3697,1510,2187,*

In [15]:
pob.dropna(subset=["LONGITUD"], inplace=True)

In [16]:
pob.head()

,ENTIDAD,NOM_ENT,MUN,NOM_MUN,LOC,NOM_LOC,LONGITUD,LATITUD,ALTITUD,POBTOT,POBFEM,POBMAS,TAMLOC
7,1,Aguascalientes,1,Aguascalientes,1,Aguascalientes,"102°17'45.768"" W","21°52'47.362"" N",1878,863893,444725,419168,13
8,1,Aguascalientes,1,Aguascalientes,94,Granja Adelita,"102°22'24.710"" W","21°52'18.749"" N",1902,5,*,*,1
9,1,Aguascalientes,1,Aguascalientes,96,Agua Azul,"102°21'25.639"" W","21°53'01.522"" N",1861,41,17,24,1
10,1,Aguascalientes,1,Aguascalientes,102,Los Arbolitos [Rancho],"102°21'26.261"" W","21°46'48.650"" N",1861,8,*,*,1
11,1,Aguascalientes,1,Aguascalientes,104,Ardillas de Abajo (Las Ardillas),"102°11'30.914"" W","21°56'42.243"" N",1989,1,*,*,1

In [17]:
pob.tail()

,ENTIDAD,NOM_ENT,MUN,NOM_MUN,LOC,NOM_LOC,LONGITUD,LATITUD,ALTITUD,POBTOT,POBFEM,POBMAS,TAMLOC
195656,32,Zacatecas,58,Santa María de la Paz,35,Los Trigos (Mesa de los Trigos),"103°14'27.792"" W","21°29'51.355"" N",2499,89,43,46,1
195657,32,Zacatecas,58,Santa María de la Paz,37,Mesa Grande,"103°24'52.925"" W","21°33'12.375"" N",1944,165,88,77,1
195658,32,Zacatecas,58,Santa María de la Paz,39,San Isidro,"103°20'14.164"" W","21°29'11.130"" N",2031,1,*,*,1
195659,32,Zacatecas,58,Santa María de la Paz,41,San Miguel Tepetitlán,"103°20'09.356"" W","21°30'15.168"" N",1977,97,50,47,1
195660,32,Zacatecas,58,Santa María de la Paz,42,San Rafael,"103°22'20.134"" W","21°31'39.341"" N",2042,3,*,*,1

In [19]:
pob.TAMLOC = pd.to_numeric(pob.TAMLOC)

In [20]:
pob.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 189432 entries, 7 to 195660
Data columns (total 13 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   ENTIDAD   189432 non-null  int64
 1   NOM_ENT   189432 non-null  object
 2   MUN       189432 non-null  int64
 3   NOM_MUN   189432 non-null  object
 4   LOC       189432 non-null  int64
 5   NOM_LOC   189432 non-null  object
 6   LONGITUD  189432 non-null  object
 7   LATITUD   189432 non-null  object
 8   ALTITUD   189432 non-null  object
 9   POBTOT    189432 non-null  int64
 10  POBFEM    189432 non-null  object
 11  POBMAS    189432 non-null  object
 12  TAMLOC    189432 non-null  int64
dtypes: int64(5), object(8)
memory usage: 14.5+ MB

In [21]:
pob[pob["TAMLOC"] >= 13].sort_values("POBTOT", ascending=False)

,ENTIDAD,NOM_ENT,MUN,NOM_MUN,LOC,NOM_LOC,LONGITUD,LATITUD,ALTITUD,POBTOT,POBFEM,POBMAS,TAMLOC
52311,9,Ciudad de México,7,Iztapalapa,1,Iztapalapa,"99°05'33.441"" W","19°21'32.414"" N",2239,1835486,947835,887651,14
6348,2,Baja California,4,Tijuana,1,Tijuana,"117°01'08.088"" W","32°31'56.859"" N",22,1810645,899293,911352,14
91716,15,México,33,Ecatepec de Morelos,1,Ecatepec de Morelos,"99°02'56.971"" W","19°35'56.650"" N",2259,1643623,845932,797691,14
62723,11,Guanajuato,20,León,1,León de los Aldama,"101°40'59.519"" W","21°07'19.099"" N",1800,1579803,804212,775591,14
129890,21,Puebla,114,Puebla,1,Heroica Puebla de Zaragoza,"98°11'50.981"" W","19°02'38.363"" N",2137,1542232,806262,735970,14
47906,8,Chihuahua,37,Juárez,1,Juárez,"106°29'06.067"" W","31°44'47.275"" N",1131,1501551,750157,751394,14
82715,14,Jalisco,39,Guadalajara,1,Guadalajara,"103°20'32.000"" W","20°40'35.000"" N",1536,1385621,718628,666993,14
89906,14,Jalisco,120,Zapopan,1,Zapopan,"103°23'20.356"" W","20°43'15.463"" N",1577,1257547,645398,612149,14
52307,9,Ciudad de México,5,Gustavo A. Madero,1,Gustavo A. Madero,"99°06'48.495"" W","19°28'58.603"" N",2230,1173351,609477,563874,14
113273,19,Nuevo León,39,Monterrey,1,Monterrey,"100°18'39.210"" W","25°39'52.910"" N",530,1142952,578172,564780,14
92583,15,México,58,Nezahualcóyotl,1,Ciudad Nezahualcóyotl,"99°01'05.520"" W","19°24'31.548"" N",2262,1072676,556998,515678,14
43323,8,Chihuahua,19,Chihuahua,1,Chihuahua,"106°04'34.704"" W","28°38'12.458"" N",1424,925762,474776,450986,13
189129,31,Yucatán,50,Mérida,1,Mérida,"89°37'27.810"" W","20°58'03.134"" N",10,921771,479309,442462,13
136436,23,Quintana Roo,5,Benito Juárez,1,Cancún,"86°49'29.320"" W","21°09'41.098"" N",5,888797,441181,447616,13
15938,5,Coahuila de Zaragoza,30,Saltillo,1,Saltillo,"100°59'58.996"" W","25°25'17.993"" N",1600,864431,434753,429678,13
7,1,Aguascalientes,1,Aguascalientes,1,Aguascalientes,"102°17'45.768"" W","21°52'47.362"" N",1878,863893,444725,419168,13
153218,26,Sonora,30,Hermosillo,1,Hermosillo,"110°57'30.469"" W","29°04'29.610"" N",200,855563,431621,423942,13
3756,2,Baja California,2,Mexicali,1,Mexicali,"115°28'32.084"" W","32°38'28.233"" N",1,854186,425977,428209,13
140670,24,San Luis Potosí,28,San Luis Potosí,1,San Luis Potosí,"100°58'37.049"" W","22°09'05.958"" N",1864,845941,437370,408571,13
145524,25,Sinaloa,6,Culiacán,1,Culiacán Rosales,"107°23'37.522"" W","24°48'31.709"" N",57,808416,416251,392165,13
134789,22,Querétaro,14,Querétaro,1,Santiago de Querétaro,"100°23'23.846"" W","20°35'36.208"" N",1832,794789,407239,387550,13
92523,15,México,57,Naucalpan de Juárez,1,Naucalpan de Juárez,"99°13'59.585"" W","19°28'43.690"" N",2280,776220,402522,373698,13
52586,9,Ciudad de México,10,Álvaro Obregón,1,Álvaro Obregón,"99°11'43.488"" W","19°23'26.902"" N",2309,759003,398068,360935,13
100155,16,Michoacán de Ocampo,53,Morelia,1,Morelia,"101°11'31.367"" W","19°42'12.182"" N",1920,743275,388114,355161,13
91676,15,México,31,Chimalhuacán,1,Chimalhuacán,"98°56'43.077"" W","19°25'00.867"" N",2257,703215,359601,343614,13
164138,28,Tamaulipas,32,Reynosa,1,Reynosa,"98°16'41.265"" W","26°05'32.460"" N",32,691557,348387,343170,13
16752,5,Coahuila de Zaragoza,35,Torreón,1,Torreón,"103°27'11.018"" W","25°32'30.312"" N",1110,690193,353744,336449,13
94340,15,México,104,Tlalnepantla de Baz,1,Tlalnepantla,"99°11'42.714"" W","19°32'18.684"" N",2253,658907,338453,320454,13
67893,12,Guerrero,1,Acapulco de Juárez,1,Acapulco de Juárez,"99°53'11.608"" W","16°51'42.721"" N",19,658609,345979,312630,13
88552,14,Jalisco,98,San Pedro Tlaquepaque,1,Tlaquepaque,"103°18'26.000"" W","20°38'19.000"" N",1569,650123,329365,320758,13
111956,19,Nuevo León,26,Guadalupe,1,Guadalupe,"100°15'35.630"" W","25°40'38.370"" N",480,635862,320627,315235,13
53320,10,Durango,5,Durango,1,Victoria de Durango,"104°40'12.700"" W","24°01'26.357"" N",1890,616068,317266,298802,13
52278,9,Ciudad de México,3,Coyoacán,1,Coyoacán,"99°09'43.724"" W","19°21'00.770"" N",2247,614447,325337,289110,13
52650,9,Ciudad de México,12,Tlalpan,1,Tlalpan,"99°10'01.654"" W","19°17'17.790"" N",2280,599935,314284,285651,13
35735,7,Chiapas,101,Tuxtla Gutiérrez,1,Tuxtla Gutiérrez,"93°06'54.690"" W","16°45'14.300"" N",522,578830,303756,275074,13
52933,9,Ciudad de México,15,Cuauhtémoc,1,Cuauhtémoc,"99°09'06.781"" W","19°26'29.928"" N",2230,545884,284933,260951,13
109590,19,Nuevo León,6,Apodaca,1,Ciudad Apodaca,"100°11'21.220"" W","25°46'52.660"" N",430,536436,267279,269157,13
91179,15,México,13,Atizapán de Zaragoza,1,Ciudad López Mateos,"99°14'06.147"" W","19°32'35.414"" N",2274,523065,269930,253135,13
95319,15,México,121,Cuautitlán Izcalli,1,Cuautitlán Izcalli,"99°12'33.430"" W","19°39'25.184"" N",2280,515353,266081,249272,13
162826,28,Tamaulipas,22,Matamoros,1,Heroica Matamoros,"97°30'17.361"" W","25°52'47.695"" N",9,510739,259229,251510,13

In [101]:
def gmsToDec(gms):
    gmsRegex = re.compile(r"(\d{2,3}[°])(\d{2}['])(\d{2}[.]\d{3}[\"])")
    mo = gmsRegex.search(gms)
    grads = float(mo.group(1)[:-1])
    mints = float(mo.group(2)[:-1])
    segs = float(mo.group(3)[:-1])

    dec = grads + mints/60 + segs/3600
    
    return dec

In [91]:
grads

100.0

In [92]:
mints

15.0

In [93]:
segs

35.63

In [94]:
dec

100.25989722222222

In [102]:
gmsToDec("19°32'35.414\" N")

19.54317055555556

In [103]:
latitud_series = pob["LATITUD"].apply(gmsToDec)

In [104]:
latitud_series

7         21.879823
8         21.871875
9         21.883756
10        21.780181
11        21.945068
            ...
195656    21.497599
195657    21.553438
195658    21.486425
195659    21.504213
195660    21.527595
Name: LATITUD, Length: 189432, dtype: float64

In [105]:
pob["LATITUD_DEC"] = latitud_series

In [106]:
pob.head()

,ENTIDAD,NOM_ENT,MUN,NOM_MUN,LOC,NOM_LOC,LONGITUD,LATITUD,ALTITUD,POBTOT,POBFEM,POBMAS,TAMLOC,LATITUD_DEC
7,1,Aguascalientes,1,Aguascalientes,1,Aguascalientes,"102°17'45.768"" W","21°52'47.362"" N",1878,863893,444725,419168,13,21.879823
8,1,Aguascalientes,1,Aguascalientes,94,Granja Adelita,"102°22'24.710"" W","21°52'18.749"" N",1902,5,*,*,1,21.871875
9,1,Aguascalientes,1,Aguascalientes,96,Agua Azul,"102°21'25.639"" W","21°53'01.522"" N",1861,41,17,24,1,21.883756
10,1,Aguascalientes,1,Aguascalientes,102,Los Arbolitos [Rancho],"102°21'26.261"" W","21°46'48.650"" N",1861,8,*,*,1,21.780181
11,1,Aguascalientes,1,Aguascalientes,104,Ardillas de Abajo (Las Ardillas),"102°11'30.914"" W","21°56'42.243"" N",1989,1,*,*,1,21.945068

In [107]:
longitud_series = pob["LONGITUD"].apply(gmsToDec)

In [108]:
longitud_series

7         102.296047
8         102.373531
9         102.357122
10        102.357295
11        102.191921
             ...
195656    103.241053
195657    103.414701
195658    103.337268
195659    103.335932
195660    103.372259
Name: LONGITUD, Length: 189432, dtype: float64

In [109]:
pob["LONGITUD_DEC"] = longitud_series

In [110]:
pob.head()

,ENTIDAD,NOM_ENT,MUN,NOM_MUN,LOC,NOM_LOC,LONGITUD,LATITUD,ALTITUD,POBTOT,POBFEM,POBMAS,TAMLOC,LATITUD_DEC,LONGITUD_DEC
7,1,Aguascalientes,1,Aguascalientes,1,Aguascalientes,"102°17'45.768"" W","21°52'47.362"" N",1878,863893,444725,419168,13,21.879823,102.296047
8,1,Aguascalientes,1,Aguascalientes,94,Granja Adelita,"102°22'24.710"" W","21°52'18.749"" N",1902,5,*,*,1,21.871875,102.373531
9,1,Aguascalientes,1,Aguascalientes,96,Agua Azul,"102°21'25.639"" W","21°53'01.522"" N",1861,41,17,24,1,21.883756,102.357122
10,1,Aguascalientes,1,Aguascalientes,102,Los Arbolitos [Rancho],"102°21'26.261"" W","21°46'48.650"" N",1861,8,*,*,1,21.780181,102.357295
11,1,Aguascalientes,1,Aguascalientes,104,Ardillas de Abajo (Las Ardillas),"102°11'30.914"" W","21°56'42.243"" N",1989,1,*,*,1,21.945068,102.191921

In [112]:
poblacionTotal = pob["POBTOT"].sum()

In [113]:
poblacionTotal

126014024

In [116]:
pob["pob_x_latitud"] =  pob.POBTOT * pob.LATITUD_DEC

In [117]:
pob.head()

,ENTIDAD,NOM_ENT,MUN,NOM_MUN,LOC,NOM_LOC,LONGITUD,LATITUD,ALTITUD,POBTOT,POBFEM,POBMAS,TAMLOC,LATITUD_DEC,LONGITUD_DEC,pob_x_latitud
7,1,Aguascalientes,1,Aguascalientes,1,Aguascalientes,"102°17'45.768"" W","21°52'47.362"" N",1878,863893,444725,419168,13,21.879823,102.296047,1.890183e+07
8,1,Aguascalientes,1,Aguascalientes,94,Granja Adelita,"102°22'24.710"" W","21°52'18.749"" N",1902,5,*,*,1,21.871875,102.373531,1.093594e+02
9,1,Aguascalientes,1,Aguascalientes,96,Agua Azul,"102°21'25.639"" W","21°53'01.522"" N",1861,41,17,24,1,21.883756,102.357122,8.972340e+02
10,1,Aguascalientes,1,Aguascalientes,102,Los Arbolitos [Rancho],"102°21'26.261"" W","21°46'48.650"" N",1861,8,*,*,1,21.780181,102.357295,1.742414e+02
11,1,Aguascalientes,1,Aguascalientes,104,Ardillas de Abajo (Las Ardillas),"102°11'30.914"" W","21°56'42.243"" N",1989,1,*,*,1,21.945068,102.191921,2.194507e+01

In [118]:
pob.sort_values("pob_x_latitud", ascending=False)

,ENTIDAD,NOM_ENT,MUN,NOM_MUN,LOC,NOM_LOC,LONGITUD,LATITUD,ALTITUD,POBTOT,POBFEM,POBMAS,TAMLOC,LATITUD_DEC,LONGITUD_DEC,pob_x_latitud
6348,2,Baja California,4,Tijuana,1,Tijuana,"117°01'08.088"" W","32°31'56.859"" N",22,1810645,899293,911352,14,32.532461,117.018913,5.890474e+07
47906,8,Chihuahua,37,Juárez,1,Juárez,"106°29'06.067"" W","31°44'47.275"" N",1131,1501551,750157,751394,14,31.746465,106.485019,4.766894e+07
52311,9,Ciudad de México,7,Iztapalapa,1,Iztapalapa,"99°05'33.441"" W","19°21'32.414"" N",2239,1835486,947835,887651,14,19.359004,99.092622,3.553318e+07
62723,11,Guanajuato,20,León,1,León de los Aldama,"101°40'59.519"" W","21°07'19.099"" N",1800,1579803,804212,775591,14,21.121972,101.683200,3.336855e+07
91716,15,México,33,Ecatepec de Morelos,1,Ecatepec de Morelos,"99°02'56.971"" W","19°35'56.650"" N",2259,1643623,845932,797691,14,19.599069,99.049159,3.221348e+07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33388,7,Chiapas,87,Suchiate,256,Santa Elena,"92°10'20.825"" W","14°39'21.373"" N",18,1,*,*,1,14.655937,92.172451,1.465594e+01
33326,7,Chiapas,87,Suchiate,111,El Paraíso,"92°12'44.945"" W","14°39'14.570"" N",9,1,*,*,1,14.654047,92.212485,1.465405e+01
33379,7,Chiapas,87,Suchiate,241,Santa Yolanda,"92°13'07.966"" W","14°38'54.740"" N",8,1,*,*,1,14.648539,92.218879,1.464854e+01
33381,7,Chiapas,87,Suchiate,246,Brisas del Mar,"92°18'08.027"" W","14°37'19.604"" N",5,1,*,*,1,14.622112,92.302230,1.462211e+01
33321,7,Chiapas,87,Suchiate,84,Santa Isabel,"92°16'23.256"" W","14°34'49.821"" N",3,1,*,*,1,14.580506,92.273127,1.458051e+01

In [119]:
sumatoriaLatitud = pob.pob_x_latitud.sum()

In [120]:
sumatoriaLatitud

2678645985.042482

### Latitud del centro medio de población

In [122]:
sumatoriaLatitud/poblacionTotal

21.256729211682675

In [140]:
pob[pob['LATITUD_DEC'].between(21.25, 21.26)].sort_values("POBTOT", ascending=False)

In [125]:
pob_lon_numerador = pob.POBTOT * pob.LONGITUD_DEC * numpy.cos(pob.LATITUD_DEC * (math.pi / 180))

In [126]:
pob_lon_numerador

7         8.200713e+07
8         4.750230e+02
9         3.894240e+03
10        7.604035e+02
11        9.478736e+01
              ...
195656    8.549240e+03
195657    1.587027e+04
195658    9.615578e+01
195659    9.325850e+03
195660    2.884833e+02
Length: 189432, dtype: float64

In [128]:
pob_lon_denominador = pob.POBTOT * numpy.cos(pob.LATITUD_DEC * (math.pi / 180))

### Longitud del centro medio de población

In [130]:
pob_lon_numerador.sum() / pob_lon_denominador.sum()

100.05476844794943

In [141]:
pob[pob['LONGITUD_DEC'].between(100.04, 100.06)].sort_values("POBTOT", ascending=False)

In [143]:
pob.query('LONGITUD_DEC >= 100 & LONGITUD_DEC <= 100.1 & LATITUD_DEC >= 21.2 & LATITUD_DEC <= 21.3').to_csv("mas_cercanos.csv", encoding="latin-1")